@tailwind base;
@tailwind components;
html, body{
    @apply m-0 p-0 w-[100%] h-[100%] overflow-y-auto bg-white;
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(-100%);
    padding-top: 1rem;
}
#close-icon{
    display: none;
}
.hamburger{
    position: fixed;
    top: 2.5rem;
    right: 1rem;
}
.show-menu{
    transform: translateY(0);
}
/* .logo{
    @apply text-[2rem];
}

.button{
    @apply text-[1.1rem];
    border-radius: 6.25rem;
}
@media screen and (max-width: 768px){
    :root{
        font-size: 12px
    }
} */
@tailwind utilities;