@tailwind base;
@tailwind components;
html, body{
    @apply w-[100%] h-[100%] overflow-y-auto bg-white ;
    
}
/* .logo{
    @apply text-[2rem];
} */

.button{
    position: fixed;
    top: 2.5rem;
    right:1%;

    
}
/*@media screen and (max-width: 768px){
    :root{
        font-size: 12px
    }
}*/
.menu{
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    padding-top: 1rem;
}
.show-menu{
    transform: translateY(0);
}
@tailwind utilities;
