@tailwind base;
@tailwind components;
html, body{
    @apply m-0 p-0 w-[100vw] h-[100vh] overflow-y-auto bg-white;
}
.menu{
    position: fixed;
    top: -3rem;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 100;
    height: 7rem;
    width: 5rem;
    background-color: white;
    margin-top: 3rem;
    padding:1rem 1rem 0 1rem;
    /* width: 10rem; */
}
#close-icon{
    display: none;
    width: 2rem;
    height: 2rem;
}
.hamburger{
    position: fixed;
    top: 2.5rem;
    right: 1rem;
    z-index: 100;
}
.show-menu{
    transform: translateY(0);
}
/* .logo{
    @apply text-[2rem];
}

.button{
    @apply text-[1.1rem];
    border-radius: 6.25rem;
}
@media screen and (max-width: 768px){
    :root{
        font-size: 12px
    }
} */
@tailwind utilities;